# (C) Copyright 2025, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Static analysis of the C++ sources

on:
  pull_request:
  push:
defaults:
  run:
    shell: bash
env:
  GRPC_VERSION: "1.69.0"

jobs:
  clang-format-check:
    runs-on: ubuntu-latest
    concurrency:
      group: clang-format-check-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Check formatting
        run: ./format.sh --check-only
  clang-tidy-check:
    runs-on: ubuntu-latest
    concurrency:
      group: clang-tidy-check-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          path: astarte-device-sdk-cpp
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Setup gRPC build cache
        id: cache-grpc-cpp
        uses: actions/cache@v4
        with:
          path: |
            ./grpc
            ./grpc-install
          # Cache the hash of the build script for the CMAKE flags
          key: grpc-cpp-v${{ env.GRPC_VERSION }}-${{ hashFiles('astarte-device-sdk-cpp/.github/scripts/build-grpc.sh') }}
      - name: Setup gRPC for build
        run: |
          ./astarte-device-sdk-cpp/.github/scripts/setup-grpc.sh "$GRPC_VERSION"
      - name: Compile gRPC from source
        run: |
          ./astarte-device-sdk-cpp/.github/scripts/build-grpc.sh
      - name: Check library with C++ 20
        working-directory: ./astarte-device-sdk-cpp
        run: ./tidy.sh --fresh --system_grpc
