# (C) Copyright 2025, SECO Mind Srl
#
# SPDX-License-Identifier: Apache-2.0

name: Run the unit tests

on:
  pull_request:
  push:
defaults:
  run:
    shell: bash
env:
  GRPC_VERSION: "1.69.0"

jobs:
  unit-tests-grpc:
    runs-on: ubuntu-latest
    concurrency:
      group: unit-tests-grpc-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v5
        with:
          path: astarte-device-sdk-cpp
      - name: Setup gRPC build cache
        id: cache-grpc-cpp
        uses: actions/cache@v4
        with:
          path: |
            ./grpc
            ./grpc-install
          # Cache the hash of the build script for the CMAKE flags
          key: grpc-cpp-v${{ env.GRPC_VERSION }}-${{ hashFiles('astarte-device-sdk-cpp/.github/scripts/build-grpc.sh') }}
      - name: Setup gRPC for build
        run: |
          ./astarte-device-sdk-cpp/.github/scripts/setup-grpc.sh "$GRPC_VERSION"
      - name: Compile gRPC from source
        run: |
          ./astarte-device-sdk-cpp/.github/scripts/build-grpc.sh
      - name: Run the unit tests for C++ 20
        working-directory: ./astarte-device-sdk-cpp
        run: ./unit.sh --transport grpc --system_transport --fresh
  unit-tests-mqtt:
    runs-on: ubuntu-latest
    concurrency:
      group: unit-tests-mqtt-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v5
        with:
          path: astarte-device-sdk-cpp
      - name: Run the unit tests for C++ 20
        working-directory: ./astarte-device-sdk-cpp
        run: ./unit.sh --transport mqtt --fresh
